<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <h1>Edit screen</h1>
    <div id="noteForm">
        <form action="/update-note/<%= note.id %>" method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title:</label>
                <div class="col-sm-10">
                    <input type="text" name="title" id="title" class="form-control" value=<%= note.title %> required>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <textarea name="description" id="description" cols="30" rows="10" class="form-control" required><%= note.description %></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Update Note</button>
                </div>
            </div>
            <a href="/home" id="home-link">Return</a>
        </form>
    </div>
</body>
</html>